@use "../../../MainRouter.scss" as *;

.reports {
  display: grid;
  grid-template-columns: 320px 1fr;
  justify-content: center;

  &__nav {
    display: grid;
    grid-template-rows: 1fr;
    max-height: calc(100vh - $header-height);
    overflow-y: auto;
  }
  &__button {
    background-color: $teal-transparent;
    border: 1px solid $blue;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__group-list &__button {
    background-color: $teal;
  }
}
