@use "../../../MainRouter.scss" as *;

.reports {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 15px;
  padding: 15px 0;
  max-height: calc(100vh - $header-height);
  border: 1px solid red;
  overflow-y: scroll;
  &__button {
    background: $teal-transparent;
    border: 1px solid $blue;
    padding: 10px 0;
    width: 620px;
    // width: 100%;
    border-radius: 50px;
    text-align: center;
    font-size: 1.1rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__group-list {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 10px;
  }

  &__group-list &__button {
    max-width: 420px;
  }
}
