@use "../../../../MainRouter.scss" as *;

.searchbar-container {
  position: relative;
  display: grid;
  grid-template-columns: 32px 1fr;
  // border: 1px solid red;
}
.searchbar {
  // background: var(--light-blue);
  // display: flex;
  // flex-wrap: nowrap;
  border: none;
  border-bottom: 1px solid $black;
  border-radius: 0;
  font-size: 1.125rem;
  box-shadow: inset;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: none;
  }
  &:focus-within {
    outline: none;
  }
  &::placeholder {
    color: $white;
    font-size: 1rem;
  }
}
.search-results {
  position: absolute;
  display: none;
  grid-template-rows: 1fr;
  background-color: $white;
  top: 2rem;
  z-index: 2;
  overflow-y: scroll;
  max-height: 80vh;
  color: $black;
}
.active {
  display: grid;
}
