.register-container {
  max-height: 100vh;
  width: 100%;
  --toolbar-height: 6vh;
  --secondary-container-height: 94vh;
}

.register-toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-blue);
  height: var(--toolbar-height);
  width: 100%;
}

.searchbar-container {
  width: 25vw;
  justify-self: flex-end;
  padding-right: 10px;
}

.register-secondary-container {
  display: grid;
  grid-template-columns: 25vw 1fr;
  height: var(--secondary-container-height);
}

.register-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(230px), 1fr));
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
}

.category {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid var(--translusant-hazel-5);
  display: grid;
  grid-template-rows: 1fr 4ch;
}

.category:hover {
  border: 1px solid var(--light-blue);
  outline: 1px solid var(--light-blue);
  transform: scale(102.5%);
  border-radius: 10px;
}

.category:active {
  background-color: var(--translusant-light-blue);
}

.category-image {
  justify-self: center;
  width: 100%;
}

.category-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hazel);
  color: #000;
  border-radius: 0 0 5px 5px;
  padding-top: 5px;
}

.category-title h6 {
  text-align: center;
  font-weight: 600;
}

.cart-btn {
  background-color: var(--thirty);
  color: var(--ten);
  display: none;
  /* justify-self: flex-end; */
}

.cart-btn:hover {
  background-color: var(--ten);
  color: var(--thirty);
}

.cart-btn:focus,
.cart-btn:active {
  background-color: var(--thirty);
  color: var(--ten);
}

.categorized-products-container {
  display: grid;
}

.categorized-products {
  overflow-y: scroll;
  padding: 5px;
  max-height: 88vh;
}

.category-toolbar-container {
  display: flex;
  align-items: center;
}

.category-back-button {
  background-color: #fff;
  text-align: left;
  border: none;
}

.register-search {
  display: flex;
  align-items: baseline;
  gap: 10px;
  color: #fff;
}

@media screen and (max-width: 855px) {
  .register-secondary-container {
    grid-template-columns: 40vw 1fr;
  }

  .register-categories {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .category-image {
    display: none;
  }

  .category-title {
    background-color: #fff;
  }
}

@media screen and (max-width: 766px) {
  .register-secondary-container {
    grid-template-columns: 1fr;
    position: relative;
  }

  .cart-btn {
    display: initial;
  }
}
