@use "../../../MainRouter.scss" as *;

$toolbar-height: 50px;

.register {
  // max-height: calc($header-height - 100vh);
  display: grid;
  grid-template-areas:
    "cart toolbar"
    "cart categories"
    "cart categories";
  grid-template-columns: 25vw calc(75vw - 75px);
  grid-template-rows: $toolbar-height calc($toolbar-height - 100vh);
  &__cart {
    grid-area: cart;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $toolbar-height;
    grid-area: toolbar;
  }

  &__categories {
    grid-area: categories;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(230px), 1fr));
    gap: 1rem;
    padding: 1rem;
    max-height: calc(100vh - $header-height - $toolbar-height - 1px);
  }
}

.category {
  background-color: $white;
  border-radius: 5px;
  border: 2px solid $blue;
  display: grid;
  grid-template-rows: 1fr 4ch;
  &:hover {
    border: 1px solid $blue;
    outline: 1px solid $blue;
    transform: scale(102.5%);
    border-radius: 10px;
  }
  &:active {
    background-color: $kacky;
  }

  &__image {
    justify-self: center;
    width: calc(100% - 2px);
  }

  &__title {
  }
}

.cart-btn {
  background-color: $kacky-transparent;
  color: $grey;
  display: none;
  &:hover {
    background-color: $kacky-transparent;
    color: $white;
  }
  &:focus {
    background-color: $kacky-transparent;
    color: $white;
  }
  &:active {
    background-color: $kacky-transparent;
    color: $white;
  }
}
