@use "../../../../MainRouter.scss" as *;

.product-card {
  border-bottom: 1px solid $blue;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: $white;

  &:hover {
    background-color: $kacky-transparent;
    cursor: pointer;
  }
}
.product-card-title {
  font-weight: 500;
  font-size: 1em;
}
.product-card-price {
  color: $green;
  text-align: right;
  margin-left: 5px;
}
.product-card-quantity {
  text-align: right;
}
