@use "../../../../MainRouter.scss" as *;

.cart {
  background-color: $white;
  border-right: 1px solid $blue;
  &__title {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: $kacky;
  }

  &__items {
    overflow-y: scroll;
  }

  &__totals-container {
    background-color: $kacky;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }

  &__totals-titles {
    font-weight: bold;
  }

  &__totals {
    font-weight: bold;
    color: $green;
  }

  &__empty {
    height: calc(100vh - $header-height - 7.25rem);
  }
}

@media screen and (max-width: 855px) {
  .cart-titles {
    height: auto;
  }
  .cart-items-container {
    max-height: 66vh;
  }
}
@media screen and (max-width: 766px) {
  .register-cart-container {
    position: absolute;
    top: -1000px;
  }
  .cart-items-container {
    max-height: 100vh;
  }
}
