@use "../../../../MainRouter.scss" as *;

.cart {
  background-color: $white;
  border-right: 1px solid $blue;
  height: calc(100vh - $header-height);
  // border: 1px solid red;
  &__title {
    height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: $kacky;
    padding: 0 0.5rem;
  }

  &__items {
    overflow-y: scroll;
    aspect-ratio: 0.575;
  }

  &__totals-container {
    background-color: $kacky;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  &__totals-titles {
    font-weight: bold;
  }

  &__totals {
    font-weight: bold;
    color: $green;
  }

  &__empty {
    // margin: -9999px;
    // padding: 9999px;
  }
}
