@use "../../../../MainRouter.scss" as *;

.navigation-bar {
  background-color: $blue;
  display: grid;
  grid-template-rows: repeat(auto-fit);
  gap: 1rem;
  height: 100%;
  position: relative;
  translate: width 1s ease;

  &__links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 1rem;
  }

  &__link {
    color: $white;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__extras {
    align-self: flex-end;
    justify-self: center;
    text-align: right;
    font-weight: bold;
    color: $white;
  }

  &__toggle-btn {
    position: absolute;
    top: 20px;
    right: -20px;
    width: 20px;
    aspect-ratio: 2/3;
    background-color: $blue-transparent;
    z-index: 20;
    border: none;
  }

  &__link-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-wrap: nowrap;
    text-decoration: none;
  }
}
