@use "../../../../MainRouter.scss" as *;

.navigation-bar {
  width: 75px;
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 0;

  &__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  &__link {
    color: $white;
    margin-top: 1rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.profile-stats {
  color: $white;
  font-weight: bold;
  text-align: right;
}
