.product-card {
  border: 2px solid var(--blue-bg);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  background-color: #fff;
  margin-bottom: 5px;
}

.product-card-title {
  font-weight: 500;
  font-size: 1em;
}

.product-card-price {
  color: green;
  text-align: right;
  margin-left: 5px;
}

.product-card-quantity {
  text-align: right;
}
