.portal-header-container {
  background-color: #12a89d;
  border-bottom: 1px solid #000;
  /* padding: 5px; */
  width: 100%;
}

.logo-container {
  width: fit-content;
  cursor: pointer;
}

#HazelSkyLogo {
  width: 200px;
}
