.portal-header-container {
  background-color: var(--blue-bg);
  border-bottom: 1px solid #000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

#Logo {
  color: #fff;
  font-weight: bolder;
  letter-spacing: 5px;
}
