$color_1: #fff;
$color_2: #000;
$background-color_1: #fff;

.searchbar-container {
  position: relative;
}
.searchbar {
  background: var(--light-blue);
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  color: $color_1;
  font-size: 1.125rem;
  box-shadow: inset;
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: none;
  }
  &:focus-within {
    outline: none;
  }
  &::placeholder {
    color: $color_1;
    font-size: 1rem;
  }
}
.search-results {
  position: absolute;
  display: none;
  grid-template-rows: 1fr;
  background-color: $background-color_1;
  top: 2rem;
  z-index: 2;
  overflow-y: scroll;
  max-height: 80vh;
  color: $color_2;
}
.active {
  display: grid;
}
