$font-family_1: "Montserrat";

* {
  --blue-bg: #3e548d;
  --kacky-30: rgba(222, 220, 200);
  --kacky-30-see-through: rgba(222, 220, 200, 0.3);
}
body {
  font-family: $font-family_1;
  margin: 0;
  box-sizing: border-box;
}
