// Colors (Reg + Transparent)
$white: rgb(255, 255, 255);
$white-transparent: rgba(255, 255, 255, 0.3);
$black: rgb(0, 0, 0);
$black-transparent: rgba(0, 0, 0, 0.3);
$green: rgb(0, 128, 0);
$green-transparent: rgba($green, 0.3);
$grey: rgb(100, 100, 100);
$grey-transparent: rgba(100, 100, 100, 0.1);
$teal: rgb(11, 176, 227);
$teal-transparent: rgba($teal, 0.5);
$blue: rgb(62, 84, 141);
$blue-transparent: rgba($blue, 0.3);
$kacky: rgba(222, 220, 200);
$kacky-transparent: rgba($kacky, 0.3);

// Borders
$b-radius: 0.25rem;
$blue-border: 1px solid $blue;
$blue-border-lg: 2px solid $blue;

// Box Shadows
$box-shadow: -8px 8px 4px 0 $black-transparent;

.main {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  display: none;
}
* {
  &::-webkit-scrollbar {
    width: 10px;
    display: initial;
  }
  &::-webkit-scrollbar-track {
    background-color: $grey-transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $teal-transparent;
    border-radius: 5px;
    &:hover {
      background-color: $blue;
    }
  }
}
.app-title {
  color: $white;
  font-weight: bolder;
  font-size: 1.25rem;
}
@media screen and (max-width: 766px) {
  .main-container {
    grid-template-columns: 10vw 1fr;
  }
}
