@use "../../../MainRouter.scss" as *;

.portal-header-container {
  background-color: $blue;
  border-bottom: 1px solid $black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}
#Logo {
  color: $white;
  font-weight: bolder;
  letter-spacing: 5px;
}
